.home {
  margin-top : 50px;

  .banner h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    background-image: url('../../Images/ImageHome.png');
    background-size: cover;
    background-position: center;
    height: 223px;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    margin: 5px;
  }
    
  .locations {
    background-color: #F6F6F6;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 40px;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
  
    a {
      text-decoration: none;
    
      .locationCard {
        //cursor: pointer;
        background-color: rgba(255, 96, 96, 1);
        border-radius: 20px;
        padding: 20px;

        img {
          width: 100%;
          height: 80%;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          object-fit: cover;
        }
        h2 {
          color: white;
          font-size: 18px;
          font-weight: 700;
          padding: 5px;
        }
      }
    }
  }
}
  

  
  