body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

*{
  font-family: 'Montserrat';
  margin: 0;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin : 20px;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  color: black;
}

nav a:active {
  text-decoration: underline;
}

/* Home */

.home {
  margin-top: 50px;
}

.banner {
  position: relative;
}

.banner h1 {
  color: white;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 25%;
  top: 35%;
  z-index: 1;
}

.banner img {
  width: 100%;
  height: 223px;
  object-fit: cover;
  border-radius: 20px;
  filter: brightness(0.7);
}

.locations {
  background-color: #F6F6F6;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 40px;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.locations a {
  text-decoration: none;
}

.locations .locationCard {
  cursor: pointer;
  height: 340px;
  border-radius: 20px;
  position: relative;
}

.locations .locationCard img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  filter: brightness(0.7);
}

.locations .locationCard h2 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

/* About */
.about {
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
}

.bannerAbout{
  height: 223px;
  border-radius: 20px;
  filter: brightness(0.5);
  margin-top: 20px;
}

.aboutCollapses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top : 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.aboutCollapses .collapse {
  background-color: #F6F6F6;
  width: 100%;
  position: relative;
  border-radius: 10px;
  
}

.aboutCollapses .collapse .buttonCollapse {
  position: absolute;
  right: 20px;
  top: 10px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
}

.aboutCollapses .collapse h2 {
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(255, 96, 96, 1);
  border-radius: 10px;
}

.aboutCollapses .collapse p {
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
  font-size: 18px;
  color: black;

}

/* Logement */

.logements {
  margin: 20px;
}

.carousel  {
  position: relative;
}

.carousel .imgCarousel {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}

.carousel .compteur {
  position: absolute;
  left: 50%;
  bottom: 5%;
  color: white;
  font-size: 18px;
}

.carousel .arrow button {
	height: 100%;
  border: none;
	background-color: transparent;
	cursor: pointer;
  position: absolute;
}
.carousel .arrow .arrowLeft{
	left: 0px;
}
.carousel .arrow .arrowRight {
	right: 0px;
}

.titleLocation {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.titleLocation .location h1 {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
}

.titleLocation .location h2 {
  font-size: 18px;
  font-weight: 500;
}

.titleLocation .owner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titleLocation .owner .ownerText {
  display: flex;
  flex-direction: column;
}

.titleLocation .owner .ownerText p {
  color: #FF6060;
  font-weight: 500;
  margin: 0;
}

.titleLocation .owner img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 45%;
}

.spe-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.spe-rating .specification {
  display: flex;
  gap: 10px;
}

.spe-rating .specification p {
  font-size: 14px;
  font-weight: 700;
  background-color: #FF6060;
  color : white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}

.collapseLogement {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  
}

.collapseLogement .description {
  background-color: #F6F6F6;
  border-radius: 20px;
  position: relative;
  height: auto;
}

.collapseLogement .description h3 {
  background-color: #FF6060;
  font-size: 18px;
  font-weight: 700;
  color : white;
  border-radius: 10px;
  padding: 10px;
}

.collapseLogement .description .buttonCollapse {
  position: absolute;
  right: 20px;
  top: 10px;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 24px;
}

.collapseLogement .description .descriptionText p {
  font-size: 18px;
  font-weight: 400;
  padding: 10px;

}

.collapseLogement .description .equipementText p {
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 10px;
}

/* Error */

.pageError {
  display: flex;
  align-items: center;
}

.pageError h1 {
  font-size: 288px;
  font-weight: 700;
  color: #FF6060;
}

.pageError p {
  font-size: 36px;
  color: #FF6060;
}



/* Footer */

footer {
  background-color: black;
  text-align: center;
  padding-top : 40px;
  padding-bottom: 10px;
  margin-top: 30px;
}

footer p {
  color : white;
  font-size: 24px;
  padding-bottom: 30px;
}
