body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

*{
  font-family: 'Montserrat';
  margin: 0;
}

/* header a mettre dans un css header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin : 20px;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  color: black;
}

nav a:active {
  text-decoration: underline;
}

/* Home */

.home {
  margin-top: 50px;
}

.banner h1 {
  color: white;
  font-size: 48px;
  font-weight: 700;
  background-image: url('./Images/ImageHome.png');
  background-size: cover;
  background-position: center;
  height: 223px;
  text-align: center;
  align-content: center;
  border-radius: 20px;
  margin: 5px;
}

.locations {
  background-color: #F6F6F6;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 40px;
  margin-top: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.locations .locationCard {
  cursor: pointer;
  height: 340px;
  background-color: rgba(255, 96, 96, 1);
  border-radius: 20px;
}

.locations .locationCard img {
  width: 100%;
  height: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.locations .locationCard h2 {
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
}

/* About */
.about {
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
}

.bannerAbout{
  background-image: url('./Images/ImageAbout.png');
  height: 223px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  margin-top: 20px;
}

.aboutCollapses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top : 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.collapse {
  background-color: rgba(255, 96, 96, 1);
  width: 100%;
  border-radius: 10px;
}

.collapse p {
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* Logement à mettre dans le sass logement */

.logements {
  margin: 20px;
}

.bannerLogement {
  width: 100%;
  height: 415px;
  border-radius: 25px;
}
.titleLocation {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.titleLocation .location h1 {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
}

.titleLocation .location h2 {
  font-size: 18px;
  font-weight: 500;
}

.titleLocation .owner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.titleLocation .owner .ownerText {
  display: flex;
  flex-direction: column;
}

.titleLocation .owner .ownerText p {
  color: #FF6060;
  font-weight: 500;
  margin: 0;
}

.titleLocation .owner img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 45%;
}

.spe-rating {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.spe-rating .specification {
  display: flex;
  gap: 10px;
}

.spe-rating .specification p {
  font-size: 14px;
  font-weight: 700;
  background-color: #FF6060;
  color : white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}

.collapseLogement {
  display: flex;
  gap: 100px;
}

.collapseLogement .description {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  background-color: #FF6060;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

/* Footer a mettre dans un css footer */

footer {
  background-color: black;
  text-align: center;
  padding-top : 40px;
  padding-bottom: 10px;
  margin-top: 30px;
}

footer p {
  color : white;
  font-size: 24px;
  padding-bottom: 30px;
}